# 1 - Introduction

Name : Gilang Wiradhyaksa

# 2 - Import Libraries

In [37]:
# Import Library
import pickle
import pandas as pd
import numpy as np

# 3 - Load Files

In [38]:
#MODEL
with open('best_model_dt.pkl', 'rb') as file_1:
    best_model_dt = pickle.load(file_1)

# 4 - Create Data

In [39]:
data_inf = {
    'airline': {0: 'Vistara', 1: 'Indigo', 2: 'Air_India', 3: 'Air_India', 4: 'Vistara'},
    'flight': {0: 'UK-830', 1: '6E-531', 2: 'AI-624', 3: 'AI-501', 4: 'UK-875'},
    'source_city': {0: 'Hyderabad', 1: 'Hyderabad', 2: 'Delhi', 3: 'Bangalore', 4: 'Mumbai'}, 
    'departure_time': {0: 'Morning', 1: 'Early_Morning', 2: 'Evening', 3: 'Afternoon', 4: 'Evening'},
    'stops': {0: 'one', 1: 'one', 2: 'one', 3: 'one', 4: 'one'},
    'arrival_time': {0: 'Night', 1: 'Morning', 2: 'Evening', 3: 'Night', 4: 'Morning'},
    'destination_city': {0: 'Bangalore', 1: 'Bangalore', 2: 'Bangalore', 3: 'Hyderabad', 4: 'Delhi'},
    'class': {0: 'Business', 1: 'Economy', 2: 'Economy', 3: 'Business', 4: 'Business'},
    'duration': {0: 10.08, 1: 3.5, 2: 23.5, 3: 10.25, 4: 13.67},
    'days_left': {0: 40, 1: 24, 2: 3, 3: 46, 4: 38},
    'price': {0: 56702, 1: 2737, 2: 10680, 3: 56476, 4: 41269}
    }

In [40]:
df = pd.DataFrame(data_inf)
df

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,Vistara,UK-830,Hyderabad,Morning,one,Night,Bangalore,Business,10.08,40,56702
1,Indigo,6E-531,Hyderabad,Early_Morning,one,Morning,Bangalore,Economy,3.50,24,2737
2,Air_India,AI-624,Delhi,Evening,one,Evening,Bangalore,Economy,23.50,3,10680
3,Air_India,AI-501,Bangalore,Afternoon,one,Night,Hyderabad,Business,10.25,46,56476
4,Vistara,UK-875,Mumbai,Evening,one,Morning,Delhi,Business,13.67,38,41269

# 5 - Inferencing

In [41]:
y_predict_inf = best_model_dt.predict(df)

In [42]:
df['prediction_price'] = y_predict_inf
df

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,prediction_price
0,Vistara,UK-830,Hyderabad,Morning,one,Night,Bangalore,Business,10.08,40,56702,56447.993589
1,Indigo,6E-531,Hyderabad,Early_Morning,one,Morning,Bangalore,Economy,3.50,24,2737,4067.247664
2,Air_India,AI-624,Delhi,Evening,one,Evening,Bangalore,Economy,23.50,3,10680,13832.152769
3,Air_India,AI-501,Bangalore,Afternoon,one,Night,Hyderabad,Business,10.25,46,56476,51894.949829
4,Vistara,UK-875,Mumbai,Evening,one,Morning,Delhi,Business,13.67,38,41269,56447.993589